<div
  class="mt-8 border border-gray-100 rounded-xl w-1/3 mx-auto shadow-lg shadow-gray-500/50"
>
  <h1 class="text-xl bg-[#3f51b5] rounded-md text-center text-white p-4">
    Edit Course
  </h1>
  <form [formGroup]="courseEditForm" (ngSubmit)="onSubmit()">
    <div class="mt-8">
      <mat-form-field class="ms-6 me-4">
        <mat-label>Title</mat-label>
        <input
          matInput
          placeholder="Enter Title"
          formControlName="title"
          [(ngModel)]="courseToEdit.title"
        />
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Course Type</mat-label>
        <mat-select formControlName="type" [(ngModel)]="courseToEdit.type">
          <mat-option value="Required"> Required </mat-option>
          <mat-option value="Elective"> Elective </mat-option>
        </mat-select>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>

    <button
      type="submit"
      class="m-4"
      mat-raised-button
      color="primary"
      [disabled]="!courseEditForm.valid"
    >
      Edit
    </button>
  </form>
</div>
