<div class="flex mt-12">
  <div class="w-1/2 p-12 mt-24">
    <p class="text-3xl font-semibold">Who we are</p>
    <p class="text-lg pt-4">
      Leaders Company for Educational Services owns Leaders Schools where the
      owners and investors have a common vision and one main goal; which is to
      provide the community with the highest level of educational programs and
      to establish a role model in the pre-university education
    </p>
  </div>
  <iframe
    class="rounded-xl mt-24 mx-16 shadow-lg shadow-gray-500/50"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.591855811318!2d31.490510174566698!3d30.019873730537785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145822f9e3fdbec3%3A0x15a877db29650fa5!2z2YXYr9ix2LPYqSDZhNi62KfYqiDZhNmK2K_Ysdiy!5e0!3m2!1sar!2seg!4v1695566472497!5m2!1sar!2seg"
    width="1000"
    height="300"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
