<div class="w-full">
  <table
    class="min-w-full divide-y-2 divide-gray-200 bg-[#FCFCFC] text-sm border-b-2"
  >
    <thead class="border-t-2">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          ID
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Name
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Email
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Score
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Level
        </th>

        <th class="py-2 flex justify-end me-28">
          <a
            routerLink="add"
            class="inline-block rounded ms-6 bg-indigo-600 px-6 py-2 text-xs font-medium text-white hover:bg-indigo-700 cursor-pointer"
          >
            Add
          </a>
        </th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      <tr
        *ngFor="
          let student of students
            | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                }
        "
      >
        <td
          class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center"
        >
          {{ student.id }}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-900 text-center">
          {{ student.name }}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">
          {{ student.email }}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">
          {{ student.score }}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">
          {{ student.level }}
        </td>

        <td class="whitespace-nowrap py-2 flex justify-end mr-8">
          <a
            (click)="getStudentByID(student.id)"
            routerLink="edit"
            class="inline-block rounded bg-indigo-600 mx-4 px-6 py-2 text-xs font-medium text-white hover:bg-indigo-700 ms-28 cursor-pointer"
          >
            Edit
          </a>
          <a
            (click)="deleteStudent(student.id)"
            class="inline-block rounded bg-red-600 px-4 py-2 text-xs font-medium text-white hover:bg-red-700 cursor-pointer"
          >
            Delete
          </a>
        </td>
        <td class="whitespace-nowrap py-2"></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="mt-4 ml-4">
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
  >
  </pagination-controls>
</div>
